<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="false">
    <logger name="DB" additivity="false">
      <level value="Warn"/>
      <appender-ref ref="RollingLogFileAppender1"/>
    </logger>
    <logger name="UI" additivity="false">
      <level value="Warn"/>
      <appender-ref ref="RollingLogFileAppender2"/>
    </logger>
    <logger name="Message" additivity="false">
      <level value="Warn"/>
      <appender-ref ref="RollingLogFileAppender3"/>
    </logger>
    <appender name="RollingLogFileAppender1" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\StartDBService.txt"/>
      <param name="datePattern" value="yyyy-MM-dd HH:mm"/>
      <param name="AppendToFile" value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender2" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\StartLogicService.txt"/>
      <param name="AppendToFile" value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="Warn"/>
      <appender-ref ref="RollingLogFileAppender2" />
    </root>
  </log4net>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="MS;ESRI10.3;Common;devexp" />
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>

